.wrapper {
  padding-top: 100px;
  background: #ECEFF1;
  background: url("../../images/old-paper-background.jpg"); 
  /* background-attachment: fixed; */
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
