.App-header {
  text-align: center;
  background: url("./images/header.jpg"); 
  background-size: cover;
  height: 90px;
  padding: 10px;
  color: white;
  font-weight: 600;
  /* color: #FFD342; */
  /* color: #FFF806; */
  border-bottom: 5px solid black;
}

.App-title {
  font-size: 3em;
}
