body {
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', cursive;
  /* background: url("./images/winterhold.jpg"); */
  background: url("./images/background6.jpg"); 
  background-attachment: fixed;
  background-size: cover;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1 {
  padding: 0;
  margin: 3px;
}
